html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    position: relative;
    flex-direction: column;
}

.main-header {
    max-width: 100%;

    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: #000000;
    word-wrap: break-word;
}

.main-header > img {
    flex: 0 1 auto;
    max-width: 100%;
    object-fit: scale-down;
}

.main-header > h1 {
    padding-left: 1em;
    max-width: 100%;

    flex: 0 0 auto;
    box-sizing: border-box;

    color: #FF8F00;
    font-family: 'Sofia';
    font-weight: bold;
    word-wrap: break-word;
}

section {
    max-width: 100%;
    height: 100%;

    flex: 1 1 auto;
    display: flex;
}

section > nav {
    padding: 1em;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    flex: 0 0 auto;
    box-sizing: border-box;

    background-color: #009688;
    word-wrap: break-word;
}

section > nav > header > h2 {
    margin: 0;
    padding-bottom: 0.5em;
    max-width: 100%;

    display: none;
    visibility: hidden;

    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: bold;
    word-wrap: break-word;
}

section > nav > ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    
    font-family: 'Roboto';
    font-size: 10pt;
    word-wrap: break-word;
}

section > nav > ul > li > .models-list-item {
    margin: auto 0.5em;
    border: 0;
    border-radius: 5px;
    padding: 0.5em 1em;
    max-width: 100%;
    width: 100%;
    height: auto;

    background-color: #009688;
    color: #FFFFFF;
    outline: 0;
    word-wrap: break-word;

    text-align: left;
}

section > nav > ul > li > .models-list-item:hover {
    background-color: #00695C;
    color: #FFFFFF;
}

section > nav > ul > li > .models-list-item:active {
    background-color: #004D40;
    color: #FFFFFF;
}

/* Scroll Bar Style */
section > nav::-webkit-scrollbar {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10px;
}

section > nav::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #00695C;
    border-radius: 5px;

    background-color: #00796B;
    
}

section > nav::-webkit-scrollbar-thumb {
    border: 1px solid #00695C;
    border-radius: 5px;
    max-width: 100%;

    background-color: #4DB6AC;
}

section > main {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    background-color: #E0E0E0;
}

section > main > header {
    flex: 0 0 auto;
    flex-wrap: wrap;
    display: flex;

    background-color: #EEEEEE;
    word-wrap: break-word;
}

section > main > header > h2 {
    display: inline;

    color: #000000;
    font-family: 'Roboto';
    font-weight: bold;
}

section > main > header > button {
    border: 0;
    border-radius: 5px;
    padding: 0.5em 1em;
    height: auto;

    background-color: #009688;
    color: #FFFFFF;
    outline: 0;

    font-family: 'Roboto';
}

section > main > header > button:hover {
    background-color: #00695C;
    color: #FFFFFF;
}

section > main > header > button:active {
    background-color: #004D40;
    color: #FFFFFF;
}

section > main > article {
    width: 100%;

    flex: 1 1 auto;
    display: flex;
}

section > main > article > .model-content {
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    
    flex: 1 1 auto;
}

/* Scroll Bar Style */
section > main > article > .model-content::-webkit-scrollbar {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10px;
}

section > main > article > .model-content::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #616161;
    border-radius: 5px;

    background-color: #9E9E9E;
    
}

section > main > article > .model-content::-webkit-scrollbar-thumb {
    border: 1px solid #616161;
    border-radius: 5px;

    background-color: #BDBDBD;
}

section > main > article > .model-content > header {
    margin-bottom: 1em;
}

section > main > article > .model-content > header > h3 {
    margin: 0;

    color: #546E7A;
    font-family: 'Roboto';
    font-weight: bold;
}

section > main > article > .model-content p {
    margin: 0;

    color: #000000;
    font-family: 'Roboto';
}

section > main > article > .gallery {
    padding: 1em;
    width: 12em;
    overflow-x: hidden;
    overflow-y: auto;

    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    background-color: #EEEEEE;
}

/* Scroll Bar Style */
section > main > article > .gallery::-webkit-scrollbar {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10px;
}

section > main > article > .gallery::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #616161;
    border-radius: 5px;

    background-color: #9E9E9E;
    
}

section > main > article > .gallery::-webkit-scrollbar-thumb {
    border: 1px solid #616161;
    border-radius: 5px;

    background-color: #BDBDBD;
}

section > main > article > .gallery .gallery-object {
    margin: 1em 0;
    border: 1px solid #9E9E9E;
    border-radius: 1em;
    width: 100%;

    background-color: #9E9E9E;
}

section > main > article > .gallery img {
    border-radius: 1em 1em 0 0;
    width: 100%;
    height: auto;
}

section > main > article > .gallery img:hover {
    opacity: 0.7;
}

section > main > article > .gallery .gallery-caption {
    padding: 0.5em;
    font-family: 'Roboto';
    font-size: 10pt;
    text-align: center;
}

body > footer {
    max-width: 100%;

    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: #000000;
    word-wrap: break-word;
}

body > footer > table {
    flex: 0 0 auto;
}

body > footer cite {
    padding: 1em 1em;

    color: #BDBDBD;
    font-family: 'Roboto';

    display: inline;
    flex: 0 0 auto;
}

body > footer .authors-title {
    padding: 1em 1em 1em 3em;

    color: #EEEEEE;
    font-family: 'Roboto';
    font-size: 9pt;
    word-wrap: break-word;

    display: inline;
    flex: 0 0 auto;
}

body > footer .authors {
    padding: 1em 1em 1em 3em;

    color: #BDBDBD;
    font-family: 'Roboto';
    font-size: 9pt;
    word-wrap: break-word;

    display: inline;
    flex: 0 0 auto;
}

body > footer cite > ul {
    list-style-type: none;

    margin: 0;
    padding: 0;

    display: inline;
}

body > footer .netlogo {
    margin: 0 0 0 auto;
    max-width: 100%;

    flex: 0 0 auto;
    
    word-wrap: break-word;
}

body > footer .netlogo a {
    color: #EEEEEE;
    font-family: 'Roboto';
    font-size: 9pt;
    word-wrap: break-word;
}

body > footer .netlogo img {
    padding: 0 1em;
    width: auto;
    height: 3em;
    vertical-align: middle;
}

.gallery-modal {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;

    display: none;
    position: fixed;
    visibility: hidden;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.gallery-modal .close {
    position: absolute;
    top: 15px;
    right: 35px;

    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.gallery-modal .close:hover,
.gallery-modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.gallery-modal .modal-content {
    margin: auto;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-modal .modal-image {
    margin: 0 auto;
    width: 80%;
    height: auto;

    flex: 0 0 auto;
    display: block;
}

.gallery-modal .model-caption {
    margin: 0 auto;
    padding: 1em;
    width: 80%;
    height: auto;

    flex: 0 0 auto;
    display: block;

    color: #EEEEEE;
    font-family: 'Roboto';
    font-size: 12pt;
    text-align: center;
}

/* Responsiveness Styling (using media queries) */
/* Design for very small screen */
@media only screen and (min-width: 0) and (max-width: 320px) {
    section { flex-wrap: wrap;  }
    section > nav {
        flex: 0 0 100%;

        word-wrap: break-word;
    }
    section > main > header {
        padding: 0;

        word-wrap: break-word;
    }
    section > main > header > h2 { margin: 0.5em; }
    section > main > header > button { margin: 0.5em; }
    body > footer > table td { display: block; }
}

/* Design for mobile devices and tablets */
@media only screen and (min-width: 321px) and (max-width: 638px) {
    section { flex-wrap: wrap; }
    section > nav {
        flex: 0 0 100%;

        word-wrap: break-word;
    }
    section > main > header {
        padding: 0;

        word-wrap: break-word;
    }
    section > main > header > h2 { margin: 0.5em; }
    section > main > header > button { margin: 0.5em; }
    body > footer > table td { display: block; }
}

/* Design for laptops and pcs */
@media only screen and (min-width: 639px) {
    section { flex-wrap: nowrap; }
    section > nav {
        width: 13em;
        flex: 0 0 auto;
    }
    section > main > header {
        padding: 1em;

        word-wrap: break-word;
    }
    section > main > header > h2 { margin: 0 auto 0 0; }
    section > main > header > button { margin: auto 0.5em; }
    body > footer > table td { display: table-cell; }
}

