    html {
    max-width: 100%;
    height: 100%;

    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    max-width: 100%;

    box-sizing: inherit;
    overflow-x: hidden;

    word-wrap: break-word;
}

body {
    margin: 0;
    width: 100%;
    
    /*font-family: 'Roboto';*/
    font-family: 'Arimo';
    font-size: 14px;
}

h1 {
    /*font-family: 'Sofia';*/
    font-family: 'Arimo';
    font-weight: bold;
}

.foreground-orange {
    color: #FF8F00;
}

.foreground-white {
    color: #FFFFFF;
}

.foreground-black {
    color: #000000;
}

.foreground-gray {
    color: #9E9E9E;
}

.foreground-gray-light {
    color: #EEEEEE;
}

.background-black {
    background-color: #000000;
}

.background-teal {
    background-color: #009688;
}

.background-gray {
    background-color: #E0E0E0;
}

.background-gray-light {
    background-color: #EEEEEE;
}

.ltcs-container {
    padding: 16px;
}

.ltcs-container-horizontal {
    padding-left: 16px;
    padding-right: 16px;
}

.ltcs-container-vertical {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ltcs-row {
    display: flex;
    flex-direction: row;
}

.ltcs-column {
    display: flex;
    flex-direction: column;
}

.ltcs-row > *,
.ltcs-column > * {
    flex-basis: auto;
}

.ltcs-row > .ltcs-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.ltcs-column > .ltcs-horizontal-center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.ltcs-row > .ltcs-horizontal-center {
    justify-content: center
}

.ltcs-column > .ltcs-vertical-center {
    align-items: center;
}

.ltcs-row > .ltcs-item-grow,
.ltcs-column > .ltcs-item-grow {
    flex-grow: 1;
}

.ltcs-row > .ltcs-item-shrink,
.ltcs-column > .ltcs-item-shrink {
    flex-shrink: 1;
}

.ltcs-row > .ltcs-item-grow-only,
.ltcs-column > .ltcs-item-grow-only {
    flex: 1 0 auto;
}

.ltcs-row > .ltcs-item-shrink-only,
.ltcs-column > .ltcs-item-shrink-only {
    flex: 0 1 auto;
}

.ltcs-row > .ltcs-item-constant,
.ltcs-column > .ltcs-item-constant {
    flex: 0 0 auto;
}

.ltcs-row > .ltcs-item-flexible,
.ltcs-column > .ltcs-item-flexible {
    flex: 1 1 auto;
}

.ltcs-row > .ltcs-first-item,
.ltcs-column > .ltcs-first-item {
    padding: 0;
}

.scalable-image {
    object-fit: scale-down;
}

.hidden {
    display: none;
    visibility: hidden;
}

.unstyled-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navigation ul,
.navigation-vertical ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navigation-vertical li {
    width: 100%;
}

.navigation-vertical::-webkit-scrollbar {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10px;
}

.navigation-vertical::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #00695C;
    border-radius: 5px;

    background-color: #00796B;
    
}

.navigation-vertical::-webkit-scrollbar-thumb {
    border: 1px solid #00695C;
    border-radius: 5px;
    max-width: 100%;

    background-color: #4DB6AC;
}

.navigation button,
.navigation-vertical button {
    border: 0;
    border-radius: 12px;
    padding: 4px 8px;

    background-color: #009688;
    color: #FFFFFF;
    outline: 0;
}

.navigation button {
    margin: auto 2px;

    text-align: center;
}

.navigation-vertical button {
    margin: 2px auto;
    width: 100%;
}

.navigation button:hover,
.navigation-vertical button:hover {
    background-color: #00695C;
    color: #FFFFFF;
}

.navigation button:active,
.navigation-vertical button:active {
    background-color: #004D40;
    color: #FFFFFF;
}

.gallery {
    padding: 1em;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    background-color: #E0E0E0;
}

.gallery .gallery-object {
    margin: 1em 0;
    border: 1px solid #9E9E9E;
    border-radius: 1em;
    width: 100%;
    flex: 0 0 auto;

    background-color: #9E9E9E;
}

.gallery img {
    border-radius: 1em 1em 0 0;
    width: 100%;
    height: auto;
}

.gallery img:hover {
    opacity: 0.7;
}

.gallery .gallery-caption {
    padding: 0.5em;
    /*font-family: 'Roboto';*/
    font-family: 'Arimo';
    font-size: 10pt;
    text-align: center;
}

.gallery-modal {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;

    display: none;
    position: fixed;
    visibility: hidden;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.gallery-modal .close {
    position: absolute;
    top: 15px;
    right: 35px;

    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.gallery-modal .close:hover,
.gallery-modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.gallery-modal .modal-content {
    margin: auto;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-modal .modal-image {
    margin: 0 auto;
    max-width: 90%;
    width: 80%;
    max-height: 90%;
    height: auto;

    flex: 0 0 auto;
    display: block;
}

.gallery-modal .model-caption {
    margin: 0 auto;
    padding: 1em;
    width: 80%;
    height: auto;

    flex: 0 0 auto;
    display: block;

    color: #EEEEEE;
    /*font-family: 'Roboto';*/
    font-family: 'Arimo';
    font-size: 12pt;
    text-align: center;
}

footer {
    font-family: 'Arimo';
}

footer cite {
    padding-left: 0;
    padding-right: 16px;
}

footer img {
    height: 32px;
}

footer a {
    vertical-align: middle;
    margin: auto 0;
    color: #EEEEEE;
    /*font-family: 'Roboto';*/
    font-family: 'Arimo';
    font-size: 9pt;
    word-wrap: break-word;
}

.scrollable::-webkit-scrollbar {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10px;
}

.scrollable::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #616161;
    border-radius: 5px;

    background-color: #9E9E9E;
    
}

.scrollable::-webkit-scrollbar-thumb {
    border: 1px solid #616161;
    border-radius: 5px;

    background-color: #BDBDBD;
}

@media only screen and (min-width: 0) and (max-width: 320px) {
    body { overflow-y: auto; }
    .ltcs-row {
        flex-wrap: wrap; 
        justify-content: center;
    }
    .ltcs-row > * {
        padding-left: 5px;
        padding-right: 5px;
    }
    h1 { font-size: 12px; }
    .navigation-vertical { width: 100%; }
    .navigation-vertical button { text-align: center; }
    .gallery { width: 100%; }
}

@media only screen and (min-width: 320.01px) and (max-width: 638px) {
    body { overflow-y: auto; }
    .ltcs-row { flex-wrap: wrap; }
    .ltcs-row > * { padding-left: 16px; }
    h1 { font-size: 16px;  }
    .navigation-vertical { width: 100%; }
    .navigation-vertical button { text-align: center; }
    .gallery { width: 100%; }
}

@media only screen and (min-width: 638.01px) {
    body {
        height: 100%;

        overflow-y: hidden;
    }
    .ltcs-row { flex-wrap: nowrap; }
    .ltcs-row > * { padding-right: 16px; }
    h1 { font-size: 32px; }
    .navigation-vertical button { text-align: right; }
    article > div { overflow-y: auto; }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut .5s ease-in 1 forwards;
}

.is-paused {
    animation-play-state: paused;
}

.from-right {
    transition: opacity .2s, margin-right .4s;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
